@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oxygen:100,200,300,400,500,600,700');

font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;

/*-------------------------------Home */

.heading {
    text-align: center;
    color: #5b5b5b;
    font-size: 70px;
    margin: 70px;
}


.nav {
  color: #5b5b5b; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 15%;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 10px 30px;
}



.home-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.affiliate-logos {
    display: inline;
  margin-left: 38%;
  
    
}

.list-inline {
    padding-left: 45%;
    list-style: none;
}

.social li a i {
    text-align: center;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #83A1CA;
}


/*--------------------------------------containers*/

.home-container {
    background-image: url('../images/rooftops.jpg');
    opacity: 0.7;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
    
}

.services-container {
    margin-top : 10px;
    margin-bottom: 40px;
    
}

.operations-container {
    margin-top: 30px;
    margin-bottom: 20px;
    

}

.gallery-container {
    margin-top: 30px;
    margin-bottom: 20px
}

.footer-container {
    background-color: #39109D;
    margin-top: 30px;
    margin-bottom: 20px;
}



.card {
    background-color: blue;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    z-index: -2;
    display: block;
    opacity: 1 ;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    
}

.card-land {
    background-image: url('../images/land.jpg');
    opacity: 0.8;
}

.card-commercial {
    background-image: url('../images/commercial.jpg');
    opacity: 0.8;
}

.card-construction {
    background-image: url('../images/construction.jpg');
    opacity: 0.8;
}

.card-facilities-mgmt {
    background-image: url('../images/facilities-mgmt.jpg');
    opacity: 0.8;
}

.card-home-owner {
    background-image: url('../images/home-owner.jpg');
    opacity: 0.8;
}

.card-real-estate {
    background-image: url('../images/real-estate.jpg');
    opacity: 0.8;
}

.drone-img {
  max-width: 100%;
  width: 300px;
height: 180px;
top: 0;
left: 0;
}

.p4-txt {
    text-align: center;
}
