@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oxygen:100,200,300,400,500,600,700');

font-family: 'Oxygen',sans-serif;
font-family: 'Roboto',sans-serif;

/*-------------------------------Home */

.survey {
    text-align: center;
    color: #5b5b5b;
    font-size: 70px;
    margin: 70px;
}

.heading {
    text-align: left;
    font-size: 50px;
    margin: 30px 0px 40px 10px;
    font-family: 'Roboto', sans-serif;
    color: #5b5b5b;
    font-weight: 200;
}


.nav {
    color: #5b5b5b;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-color: #fafafa;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 10px 30px;
}

a {
    color: #fafafa;
}

.home-container h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Oxygen', sans-serif;
    color: #fafafa;
    padding: 10px;
    margin: 80px 350px 15px 350px;
    z-index: 1;
}


.home-text {
    font-family: oxygen;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #fafafa;

}

.drone-text {
    font-family: sans-serif;
    font-size: 20px;
    color: #5b5b5b;
}

.drone-list {
    font-family: sans-serif;
    font-size: 20px;
    color: #5b5b5b;
    
}

.list-inline {
    padding-left: 45%;
    list-style: none;
}

.social li a i {
    text-align: center;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #83A1CA;
}


/*------------------------------------------------------------------containers*/

.home-container {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("../images/rooftops.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: block;
    padding-top: 40px;
    margin-bottom: 40px
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}



.affiliate-logos {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 5px 400px;
    z-index: 1;
    
}

.customers-container {
    margin-top: 10px;
    margin-bottom: 30px;

}
.services-container {
    margin-top: 10px;
    margin-bottom: 40px;

}

.drones-container {
    margin-top: 30px;
    margin-bottom: 20px;
    background-image: url("../images/dji.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.operations-container {
    margin-top: 30px;
    margin-bottom: 20px;
    
    
}

.gallery-container {
    margin-top: 30px;
    margin-bottom: 20px
}

.footer-container {
    background-color: #39109D;
    margin-top: 30px;
    margin-bottom: 20px;
}




.card {
    position: relative;
    top: 0;
    left: 20%;
    background-color: blue;
    background-size: cover;
    border-radius: 50%;
    width: 15em;
    height: 15em;
    margin: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    z-index: 1;
    display: block;
    opacity: 1;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;

}


.card-body {
   margin-top: 20%;
   margin-bottom: 20%;
   
  
}

.card-land {
    background-image: url('../images/land.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

}

.card-commercial {
    background-image: url('../images/commercial.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

}

.card-construction {
    background-image: url('../images/construction.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

}

.card-facilities-mgmt {
    background-image: url('../images/facilities-mgmt.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

}

.card-home-owner {
    background-image: url('../images/home-owner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.card-real-estate {
    background-image: url('../images/real-estate.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.card-body a {
    color: #fafafa;
    text-align: center;
    font-family: Oxygen;
    font-weight: 600;
    font-size: 20px;

}


a:link {
    text-align: center;
    color: #fafafa;

}

a:hover {
    color: #5b5b5b;
}

.drone-img {
    max-width: 100%;
    width: 300px;
    height: 180px;
    top: 0;
    left: 0;
}

.p4-txt {
    text-align: center;
}


